<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">

    <title>Document</title>
</head>
<body>
    
    <div className='one-function-page'>
        <div className="logout">
            <a href="/authorize">GOOGLE </a>
        </div>
        <div className="footer">
            <img width="200" height="30" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTC8FniD1tw9Lv6IYuHE1Cfu6qKzCtNkD6JEoMXKUOZJF91Or0puT8kFzTYz4mHJ8HE6cgYWSQ8qePYeHyJzRCEmtEO=w1920-h932"/>
        </div>
    </div>
</body>
</html>